@import url('https://fonts.googleapis.com/css2?family=Gelasio:wght@500;700&family=Ribeye&family=Roboto:wght@400;500&display=swap');

/* font-family: 'Gelasio', serif;
font-family: 'Ribeye', cursive;
font-family: 'Roboto', sans-serif; */

/* Basic */
body {
    font-family: 'Roboto', sans-serif; 
    font-weight: 400;
    font-size: 18px;
    background: #FFFFFF;
    color: #000000;
}

.container {
    max-width: 1200px;
    padding: 0 30px;
    margin: 0 auto;
}

.hide {
    display: none;
}

.title {
    font-family: 'Gelasio';
    font-weight: 500;
    font-size: 43px;
    line-height: 1.4;
    text-align: center;
    color: #000000;
}

.desc {
    line-height: 1.6;
    color: rgba(0, 0, 0, 0.6);
}

.btn {
    display: inline-block;
    padding: 15px 35px;
    background: #C9453B;
    border-radius: 5px;
    font-size: 16px;
    line-height: 1.5;
    color: #FFFFFF;
    transition: all .5s ease;
}

.btn:hover {
    background: #ac2f26;
}

.btn:active {
    transform: translateY(2px);
}

/* Header */
.header {
    padding-top: 35px;
    padding-bottom: 80px;
    background: linear-gradient(rgba(255, 255, 255, 0.2), rgba(0, 0, 0, 0.3)), url(../img/header/header-bg-4.jpg);
    background-repeat: no-repeat;
    background-position: 0 0;
    background-size: cover;
    height: 100vh;
}



.nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo {
    font-family: 'Ribeye';
    font-weight: 400;
    font-size: 24px;
    line-height: 1.5;
    letter-spacing: 0.06em;
    color: #FFFFFF;
}

.nav__list {
    display: flex;
    align-items: center;
    column-gap: 50px;
}

.nav__list-link {
    font-weight: 500;
    line-height: 1.5;
    color: #FFFFFF;
    transition: all .5s ease;

    position: relative;
}

.nav__list-link--active::after, .nav__list-link:hover::after {
    content: "";
    display: block;
    width: 100%;
    height: 2px;
    background-color: #fff;

    position: absolute;
    left: 0;
    bottom: -5px;
}

.nav__list-link:active {
   opacity: 0.7;
}

.header__content-block {
    width: 610px;
    margin-top: 100px;
}

.header__title {
    font-family: 'Gelasio';
    font-weight: 700;
    font-size: 65px;
    line-height: 1.2;
    color: #ffffff;
    margin-bottom: 20px;
}

.header .desc {
    width: 450px;
    margin-bottom: 30px;
    font-style: italic;
}



